body {
  background: #0074D9; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#0074D9, #ccf2ff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#0074D9, #ccf2ff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#0074D9, #ccf2ff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#0074D9, #ccf2ff); /* Standard syntax (must be last) */
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Ubuntu', sans-serif;
  padding-bottom: 5%;
}

#layout-container {
  padding: 2% 0;
  background-color: #DDDDDD;
  min-height: 1200px;
}

.player-buttons {
  text-align: center;
}

.user-btn {
  margin-top: 10px;
  margin-bottom: 10px;
}

.user-info {
  margin-left: 2%;
}

.user-info li {
  list-style: none;
  text-indent: -50px;
}

.user-info-row {
  text-align: center;
}

#nav-buttons {
  text-align: center;
  display: block;
}

.save-button {
  text-align: center;
  margin-top: 15px;
}

.nav-btn {
  margin-left: 5px;
  margin-right: 5px;
}

.nav {
  margin-left: 17%;
}

.container {
  min-height: 100%;
  margin-top: 10px;
  border: solid black 2px;
  border-radius: 20px;
}

table#board {
  margin-left: 17%;
  max-width: 100%;
  min-height: auto;
}

.black {
  background-color: black;
  width: 100px;
  height: 100px;
  border: 1px solid darkgrey;
}

.red {
  background-color: firebrick;
  width: 100px;
  height: 100px;
  border: 1px solid darkgrey;
}

.whiteChecker {
  background-color: cornsilk;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 25%;
}

.redChecker {
  background-color: firebrick;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 25%;
}

.glyphicon-sunglasses {
  font-size: 2.5em;
  margin-left: 6%;
}

.glyphicon-education {
  font-size: 2.5em;
}

.jumbotron {
  text-align: center;
  font-family: 'VT323', monospace;
}

/*#logout {
  border:none;
  background: none;
}*/
