#sign-in-body {
  margin-top: 60px;
  max-width: 540px;
  border: 5px solid black;
  background-color: white;
}

.invalid {
  text-align: center;
  font-size: 1.5rem;
  color: red;
}

#back-button {
  display: inline-block;
  float: right;
  font-size: 1.5rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

.pull-right{
  float: right;
}

.nav {
  width: 100%;
}
