<div id="about">
  <h1>About Checkers</h1>
  <h3>
    Checkers is an ancient game that challenges a players skills in strategy.
  </h3>
  <a href="https://en.wikipedia.org/wiki/Draughts"><h5>MORE ON CHECKERS</h5></a>
  <h2>Contributors:</h2>
    <a href="https://github.com/SandroMateo"><h3>Sandro Alvarez</h3></a>
    <a href="https://github.com/grantsrb"><h3>Satchel Grant</h3></a>
    <a href="https://github.com/crneff84"><h3>Chance Neff</h3></a>
    <a href="https://github.com/CGrahamS"><h3>Caleb Stevenson</h3></a>
</div>
