<div class="row player-buttons">
    <div class="btn-group" role="group">
      <form action="/game/new" method="post">
        <button type="submit" name="players" value="1" class="btn btn-danger btn-lg">1 Player</button>
      </form>
      <br>
      <form action="/game/new" method="post">
        <button type="submit" name="players" value="2" class="btn btn-success btn-lg">2 Player</button>
      </form>
  </div>
</div>
