<div class="btn-group" role="group">
  <form action="/game/new" method="post">
    <button type="submit" name="players" value="1" class="btn btn-danger">1 Player</button>
  </form>

  <form action="/game/new" method="post">
    <button type="submit" name="players" value="2" class="btn btn-success">2 Player</button>
  </form>
</div>  
